#button_div { display: flex;
    justify-content: center;
    align-items: center;}

#image_div {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.img{
    border: 5px solid black;
}

#button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#button2 {
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#button3 {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#myCanvas {
    border: 5px solid black;
}
.divider{
    width:25px;
    height:auto;
    display:inline-block;
}

.divider2{
    height:50px;
    width:auto;
    display:inline-block;
}

.p-div {
    display: flex;
    justify-content: center;
    align-items: center;
}